[Desktop Entry]
Name=RdChat
Comment=Instant messaging and VoIP application
Exec=rdchat %U
Icon=app.rdchat
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=rdchat
MimeType=x-scheme-handler/rdchat;
Terminal=false
